# Build and test the project

name: Main workflow

on: 
  pull_request:
    types: [opened]
  push:
    branches:
      - master

jobs:
  build-test:
    name: build and test
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Install SFML dependencies
      run: |
        sudo apt-get install libx11-dev
        sudo apt-get install xorg-dev
        sudo apt-get install freeglut3-dev
        sudo apt-get install libudev-dev
        sudo apt-get install libopenal-dev libalut-dev
        sudo apt-get install libvorbis-dev
        sudo apt-get install libflac-dev
    
    - name: Retreive SFML source code
      run: git clone --branch 2.5.1 https://github.com/SFML/SFML.git
    
    - name: Build SFML
      run: |
        cd SFML
        mkdir build
        cd build
        cmake ..
        make

    - name: Install SFML
      run: |
        cd SFML/build
        sudo make install
    
    - name: Install Gtest
      run: |
        sudo apt-get install libgtest-dev
        cd /usr/src/gtest
        sudo mkdir build
        cd build
        sudo cmake ..
        sudo make install

    - name: Configure the project
      run: |
        mkdir build
        cd build
        cmake ..
    
    - name: Build the project
      run: |
        cd build
        make
    
    - name: Testing the project
      run: |
        ls build/
        cat README.md
